# Byte-compiled / optimized / DLL files
__pycache__/
bot/__pycache__/
tests/__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
ENV/
env/

# Environment variables
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
# trading_bot.log is included in this project as a requirement for the assignment
# but typically logs are ignored.
# trading_bot.log
